.links-item {
  width: 300px;
  height: 400px;
  color: var(--white);
  z-index: 0;
  transition: 0.3s;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-img1 {
  max-width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: fill;
}

.cl-3 {
  grid-template-columns: repeat(3, 1fr);
}

.links-container {
  justify-content: space-around;
  row-gap: 20px;
  flex-wrap: wrap;
}

.links-container:has(.links-item:hover) .links-item:not(:hover) {
  filter: blur(5px);
}

.links-item:hover {
  box-shadow: 5px 5px 10px white;
  transform: scale(1.05) translateY(-5px);
  z-index: 1;
}

.user {
  border-bottom: 1px solid var(--gray-medium);
  color: var(--gray-medium);
}

.user > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

#filter {
  border-bottom: 1px solid var(--brown-light);
}

@media (max-width: 1000px) {
  .cl-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .cl-3 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center !important;
  }
  .sm-direction-column {
    flex-direction: column;

}

.user {
  display: grid !important;
  grid-template-columns:1fr  ;
  justify-content: start;
}

}
