header {
  position: sticky;
  top: 0;
  grid-area: header;
  z-index: 4;
}
.border-fade {
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 50px black;
  border-radius: 5px;
  height: 100%;
}

.test {
  width: 100%;
  position: absolute;
  height: 100%;
}
header * {
  z-index: 1;
}

.main-icon {
  width: 400px;
  height: 120%;
  position: relative;
  z-index: 7;
  padding: 5px;
  background: transparent;
}

.main-icon img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: fill !important;
  position: relative;
  z-index: 7;
}

.icon:nth-child(1) {
  top: 0;
  left: 0;
}

.icon:nth-child(2) {
  right: 0;
  top: 40px;
}

.link-container a {
  font-size: var(--font-size);
  text-decoration: none;
  color: var(--yellow-primary);
  transition: 0.2s linear;
}
.active {
  color: var(--white) !important;
  background-color: var(--yellow-dark);
}
.link-container a:hover {
  background-color: var(--yellow-dark);
  color: var(--white);
}

.nav-link {
  display: flex;
  gap: var(--gap);
  width: max-content;
  transition: width 0.5s ease-out;
}
.nav-link a {
  padding: 5px;
  border-radius: 15px;
}

.hum {
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
  mix-blend-mode: color-burn;
  display: none;
}

.hum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-fade-out {
  animation: fadeout 0.4s linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 660px) {
  .hum {
    display: block;
  }
  .nav-link {
    visibility: hidden;
    position: absolute;
    width: 0;
    background-color: var(--brown-dark);
    right: 0;
    top: 70px;
    padding-top: 20px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
  }

  .nav-link-open {
    display: flex;
    visibility: visible;
    flex-direction: column;
    padding: 20px;
    width: 180px;
  }
}
