.alert-fade-out {
  animation: fadeout 1s linear forwards, swapleft 2s ease-out forwards;
}

/* Optional fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-200%);
  }
}

@keyframes mouse-rotate {
  from {
    width: 100px;
    height: 50px;
  }
  to {
    width: 50px;
    height: 100px;
  }
}
@keyframes alertShine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
